* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: WhoopAss;
    src: url('../fonts/whoopass.woff');
}

body, html {
    overflow: hidden;
}

img.photomask {
    background-image: url('../images/meadows.jpg');
    width: 720px;
    height: 700px;
    padding: 8px 25px 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: WhoopAss, "Arial Black", Arial, Tahoma, Helvetica, sans-serif;
    background-position: center 90px;
}

ul.controls {
    position: absolute;
    bottom: 100px;
    left: 0;
    right: 0;
    margin: auto;
    width: 700px;
    list-style-type: none;
    z-index: 2;
}

ul.controls li {
    float: left;
    width: 33.333%;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
}

ul.controls li label {
    padding-right: 10px;
    color: rgba(0, 0, 0, .5);
    font-size: 9px;
    text-transform: uppercase;
}

ul.controls li input {
    font-size: 11px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    width: 120px;
    padding: 5px 10px;
    outline: none;
    color: rgba(0, 0, 0, .55);
    border: 1px solid rgba(0, 0, 0, .05);
}

img.fork {
    position: absolute;
    top: 0;
    left: 0;
    width: 149px;
    height: 149px;
}
