* {
    margin: 0;
    padding: 0;
}

h1 {
    border: 1px solid red;
    font-family: "Alegreya Sans", sans-serif;
    font-size: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
