* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow: hidden;
}

img.photomask {
    width: 620px;
    height: 600px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-family: WhoopAss, Arial, Tahoma, Helvetica, sans-serif;
    background: url('../images/meadows.jpg') center 90px;
}

ul.controls {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    list-style-type: none;
    z-index: 2;
    padding: 50px;
}

ul.controls li {
    width: 33.333%;
    font-family: Arial, Tahoma, Helvetica, sans-serif;
    padding: 1px 0;
}

ul.controls li label {
    width: 45px;
    display: inline-block;
    color: rgba(0, 0, 0, .5);
    font-size: 11px;
    text-align: right;
    padding-right: 5px;
}

ul.controls li input {
    font-size: 11px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .05);
    width: 120px;
    padding: 5px 10px;
    outline: none;
    color: rgba(0, 0, 0, .55);
    border: 1px solid rgba(0, 0, 0, .05);
}

img.fork {
    position: absolute;
    top: 0;
    left: 0;
    width: 149px;
    height: 149px;
}
